/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

ul {
    margin: 0;
    padding: 0px;
}

li, h3 {
    list-style: none;
}

input, button {
    outline: none;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__info {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
      text-align: center;
  }

}

.container {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.add-elemen__input, .task__label, .task__input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.add-element__container {
    display: flex;
}

.add-element__btn, .task__edit-btn, .task__delete-btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.add-element__btn:hover, .task__edit-btn:hover, .task__delete-btn:hover {
    color: #3a3A3a;
}

/* Heading */

.add-element__label,
.incompleted__title,
.completed__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task__input, .add-element__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.task__input:focus, .add-element__input:focus {
    color: #333;
}

/* New Task */
.add-element__label {
    display: block;
    margin: 0 0 20px;
}

.add-element__input {
    width: 318px;
}

/* Task list */
.task__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__checkbox, .task__label, .task__input, .task__edit-btn, .task__delete-btn {
    vertical-align: middle;
}

.task__checkbox {
    margin: 0 10px;
}

.task__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task__input {
    width: 226px;
}

.task__btn-icon {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.task__btn-icon:hover {
    transform: rotateZ(0);
}

/* Completed */
.task_completed .task__label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task__input {
    display: none;
}

.task__item_edit .task__input {
    display: inline-block;
    width: 224px;
}

.task__item_edit .task__label {
    display: none;
}